<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>GraphQL custom implementation</title>
        <script type="text/javascript" src="frontEnd.js"></script>   
        <!--
        <script type="text/javascript">
            function sayHello() {
               alert("Hello input box")
               console.log("alert comment");
            }
        </script>  
        -->
    </head>
    <body>
            <div id='mainDiv'>
                <h1>This page demos graphql implementation</h1>
                <label>Enter show name: </label><input type="text" id="showName" />     
                <input type="button" onClick="getByName()" value="submit"/>
            </div>
            <div>{{msg}}</div>
    </body>        
</html>